*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}


.container video{
width: 500px;
height: 500px;
}


.container .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 350px;
    background: #fff;
    mix-blend-mode: screen;
    font-size: 10rem;
    /* font-family: 'Bebas Neue', cursive; */
    letter-spacing: 7px;
    font-weight: bolder;
}